@import "fonts.css";

#topButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(63, 63, 63, 0.6); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.navbar-light {
  background-color: rgba(255, 255, 255, 0.8);
}

#header {
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: 0 100%;
  padding: 180px 0;
}
#header .slideInLeft {
  animation-duration: 0.6s;
  animation-delay: 0.4s;
}
p,
h1,
h2,
h5,
h6 {
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 5s infinite linear;
}
button {
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 5s infinite linear;
}

.card-img-top {
  background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
  animation: hue 0.5s infinite linear;
}
.card {
  padding: 10px;
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
  animation: hue 0.6s infinite linear;
}

#header .rotateIn {
  animation-delay: 1.2s;
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(-360deg);
  }
}

.site__title {
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 5s infinite linear;
}

#timer {
  display: none;
}

.tick span {
  font-size: 2rem;
}

#services,
#blog {
  background-color: lightcyan;
}

#services .card:hover {
  background-color: aquamarine;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(184, 184, 184, 1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(184, 184, 184, 1);
  box-shadow: 0px 10px 20px 0px rgba(184, 184, 184, 1);
}

#serviceCard1 {
  animation-duration: 0.6s;
  animation-delay: 0.4s;
}

#serviceCard2 {
  animation-duration: 0.6s;
  animation-delay: 0.8s;
}

#serviceCard3 {
  animation-duration: 0.6s;
  animation-delay: 1.2s;
}

#serviceCard4 {
  animation-duration: 0.6s;
  animation-delay: 1.6s;
}

#serviceCard5 {
  animation-duration: 0.6s;
  animation-delay: 2s;
}

#serviceCard6 {
  animation-duration: 0.6s;
  animation-delay: 2.4s;
}

.text {
  display: none;
}

div[filter]:hover img {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  transition: 0.5s;
}

div[filter]:hover .text {
  display: block;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 0%;
  text-align: center;
  width: 100%;
}

.pricing-header {
  background-image: url(/img/pricing_bg.png);
  min-height: 209px;
}

.pricing-header p,
.pricing-header h3,
footer p,
footer h3 {
  color: #fff;
}

.pricing-body p {
  border-bottom: 1px solid rgb(176, 176, 176);
}

.pricing-header p sup,
.pricing-header p sub {
  font-size: 1rem;
}

.pricing-item {
  background-color: #fff;
}

.pricing-item:hover {
  -webkit-box-shadow: 0px 9px 16px 3px rgba(176, 176, 176, 1);
  -moz-box-shadow: 0px 9px 16px 3px rgba(176, 176, 176, 1);
  box-shadow: 0px 9px 16px 3px rgba(176, 176, 176, 1);
}

#carouselTeam .col-3 {
  padding: 0;
}

#carouselTeam .card {
  border: none;
}

#carouselTeam .fa-square {
  color: rgb(235, 235, 235);
}

#carouselTeam .fa-inverse {
  color: teal;
}

#carouselTeam .fa-inverse:hover {
  color: white;
}

.carousel-indicators {
  position: absolute;
  bottom: -50px;
}

.carousel-indicators--round li {
  border-radius: 10px;
  margin: 1px 3px;
  height: 10px;
  max-width: 10px;
  border: 1px solid teal;
  background-color: teal;
  opacity: 1;
}
.carousel-indicators .active {
  background-color: royalblue;
  border: 1px solid royalblue;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

#blog a {
  text-decoration: none;
  color: #000;
}

#blog a:hover {
  color: teal;
}

footer {
  background-image: url(../img/footer.png);
  background-size: cover;
  background-position: 0 100%;
}

footer .fa-circle {
  color: rgb(27, 69, 255);
}
footer h5 {
  color: #fff;
}
